#first {
    background-image: url(../ASSETS/backgrounds/first\ ackground.jpg);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-position: center;
}

#welcome {
    color: white !important;
}

#paragraph {
    padding-top: 190px!important;
}

#AboutUs {
    padding-top: 50px;
    line-height: 2em;
}

#OurServices {
    background-image: url(../ASSETS/backgrounds/s_image.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin-top: 50px;
}

#services {
    color: white !important;
    padding-top: 120px!important;
}

#WhatWeDo>img:hover {
    display: none;
}

#Portfolio {
    padding-top: 50px;
}

#ContactUs {
    background-image: url(../ASSETS/backgrounds/c_image.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center;
    margin-top: 50px;
}

#footer {
    font-size: small;
}

.col img {
    height: 200px;
}

#ContactUs h3 {
    color: white;
}

#contact-form {
    background-color: transparent !important;
    border: 1px solid white;
}

::placeholder {
    color: white !important;
}

button {
    background-color: indigo!important;
}

#btn:hover {
    background-color: thistle !important;
    color: black;
}