#first {
    background-image: url(../IP3/assets/backgrounds/first\ ackground.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    color: white !important;
}

#paragraph {
    padding-top: 190px!important;
}

#AboutUs {
    padding-top: 50px;
    line-height: 2em;
}

#OurServices {
    background-image: url(../IP3/assets/backgrounds/s_image.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}

#services {
    color: white !important;
    padding-top: 120px!important;
}